*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #a09fc3;
    width: 50dvw;
    height: 100dvh;
}

main {
    display: grid;
    grid:2;
    grid-template-columns: 1fr 2fr;
    height: 100dvh;
    width: 200%;

    & section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.3rem;
    }

    & p {
        font-size: 1rem;
        font-weight: 500;
        max-width: 90%;
        padding: 1.8rem;
        text-align: justify;
        margin: 0 auto;
    }
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#btnAhorro {
    background-color: blue;
    color: #000;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
    cursor: pointer;
}

#btnAhorro:hover {
    background-color: #000;
    color: blue;
}


#btnAhorro:disabled {
    background-color: #d0d0d0;
    color: #000;
    cursor: not-allowed;
}

#btnAhorro:not(:disabled):active {
    transform: scale(0.95);
}

#btnAhorro[disabled]:hover::before{
    content: attr(data-tooltip);
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    bottom: 3%;
    left: 70%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1;
    font-size: 15px;
}

#numAhorro {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem;
    padding: 2rem 7rem;
    text-align: center;
    background-color: #d0d0d0;
    border-radius: 1rem;
}

#numeros {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    padding: 2rem;
    text-align: justify;
    font-size: 1.1rem;
    font-weight: 550;
}

h1{
    padding: 1rem;
    margin-top: 2rem;
    font-size: 2rem;
}

#numAhorroSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

#btnReset {
    background-color: yellow;
    color: #333;
    font-weight: semi-bold;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: 1px #000;
    border-radius: 0.5rem;
    cursor: pointer;
}

#btnReset:hover {
    background-color: #333;
    color: yellow;
}

#btnReset:active{
    transform: scale(0.95);
}

#btnReset:hover::before{
    content: attr(data-tooltip);
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    bottom: 81%;
    transform: translateX(15%);
    white-space: nowrap;
    z-index: 2;
    font-size: 15px;
}

@media screen and (max-width: 400px) {
    body {
        width: 100dvw;
    }
    main {
        grid-template-columns: 1fr;
        width: 100%;

        & section {
            padding: 0;
            & p {
                padding: 0.5rem;
            }
        }
    }
    #container {
        padding: 0;
        margin: 0;
    }
    #numAhorro {
        padding: 1rem 3rem;
    }
    #numeros {
        padding: 0rem;
        font-size: .8rem;
    }
    h1{
        font-size: 1.3rem;
    }
    #numAhorroSection{
        padding: 0.5rem;
    }
    #btnReset:hover::before{
        content: none;
    }
    #btnAhorro[disabled]:hover::before{
        content: none;
    }
    
}